{
"teamA":[
    ["shared-services", "arn:aws:iam::123111434323:role/audit-role"],
    ["logging", "arn:aws:iam::123123133333:role/audit-role"],
    ["teamA-sandbox", "arn:aws:iam::125256723123:role/audit-role"],
    ["dev-teamA", "arn:aws:iam::123542123123:role/audit-role"]
    ],
"teamB": [
    ["teamb", "arn:aws:iam::642123123123:role/audit-role"]
],
"teamC": [
    ["teamC-dev", "arn:aws:iam::123123623123:role/audit-role"],
    ["teamC-staging", "arn:aws:iam::123123123223:role/audit-role"],
    ["teamC-production", "arn:aws:iam::123126123123:role/audit-role"]
]
}
