body {
  background-color: #f4f4f4;
}

h1 {
  padding: 30px;
}

ul, ol {
  font-size: 14px;
  line-height: 34px;
}

.uk-heading-bullet {
  position: relative
}

.uk-heading-bullet::before {
  content: "";
  display: inline-block;
  position: relative;
  top: calc(-.1 * 1em);
  vertical-align: middle;
  height: .9em;
  margin-right: 10px;
  border-left: 5px solid #e5e5e5
}

.uk-subnav {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #333;
  padding: 0;
  list-style: none
}

.uk-subnav>* {
  flex: none;
  padding-left: 20px;
  position: relative
}

.uk-subnav>*>:first-child {
  display: block;
  color: #999;
  font-size: .875rem;
  text-transform: uppercase;
  transition: .1s ease-in-out;
  transition-property: color, background-color
}

.uk-subnav>*>a:focus, .uk-subnav>*>a:hover {
  color: #666;
  text-decoration: none;
  outline: 0
}

.uk-subnav>.uk-active>a {
  color: #333
}

.uk-subnav-divider>* {
  display: flex;
  align-items: center
}

.uk-subnav-divider>:nth-child(n+2):not(.uk-first-column)::before {
  content: "";
  height: 1.5em;
  margin-left: 0;
  margin-right: 20px;
  border-left: 1px solid #e5e5e5
}

.uk-subnav-pill>*>:first-child {
  padding: 5px 10px;
  background: 0 0;
  color: #999
}

.uk-subnav-pill>*>a:focus, .uk-subnav-pill>*>a:hover {
  background-color: #f8f8f8;
  color: #666
}

.uk-subnav-pill>*>a:active {
  background-color: #f8f8f8;
  color: #666
}

.uk-subnav-pill>.uk-active>a {
  background-color: #1e87f0;
  color: #fff
}

.uk-subnav>.uk-disabled>a {
  color: #999
}

.uk-button {
  margin: 0;
  border: none;
  border-radius: 0;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 30px;
  vertical-align: middle;
  font-size: .875rem;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: .1s ease-in-out;
  transition-property: color, background-color, border-color
}

.uk-button:not(:disabled) {
  cursor: pointer
}

.uk-button::-moz-focus-inner {
  border: 0;
  padding: 0
}

.uk-button:hover {
  text-decoration: none
}

.uk-button:focus {
  outline: 0
}

.uk-button-default {
  background-color: transparent;
  color: #333;
  border: 1px solid #e5e5e5
}

.uk-button-default:focus, .uk-button-default:hover {
  background-color: transparent;
  color: #333;
  border-color: #b2b2b2
}

.uk-button-default.uk-active, .uk-button-default:active {
  background-color: transparent;
  color: #333;
  border-color: #999
}
